<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :student_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :student_lastname %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :student_age %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality, id: :student_nationality %>
  </div>

  <div class="field">
    <%= form.label :l1 %>
    <%= form.text_field :l1, id: :student_l1 %>
  </div>

  <div class="field">
    <%= form.label :l2 %>
    <%= form.text_field :l2, id: :student_l2 %>
  </div>

  <div class="field">
    <%= form.label :l3 %>
    <%= form.text_field :l3, id: :student_l3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
